$carousel-height: 500px;

.carousel-wrapper {
    height: $carousel-height;
    position: relative;
}

.carousel-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;

    transition: all 0.5s ease-in-out;
}

.carousel-item {
    height: 100%;

    img {
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }
}

.carousel-controller {
    width: 100vw;
    height: $carousel-height;

    position: absolute;
    top: 0;

    svg {
        font-size: 2rem;
    }

    button {
        position: relative;
        display: block;
        height: 100%;
        width: 80px;

        border: 0;
        background: none;

        &:nth-child(1) {
            position: absolute;
            left: 0;
        }
        &:nth-child(2) {
            position: absolute;
            right: 0;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
