@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;

    font-family: "Noto Sans KR", sans-serif;
}

div {
    box-sizing: border-box;
}

body {
    background-color: #101010;
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #101010;
}

li {
    list-style: none;
}

.wrapper {
    width: 100%;
}
.container {
    width: min(80%, 1200px);
    margin: 0px auto;
}
