.menu-grid-wrapper {
    padding: 50px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: white;
}

.menu-grid-container {
    margin: 5px 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-grid-item {
    display: block;
    width: 25%;
    padding: 10px;
    box-sizing: content-box;

    img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 3px 5px #dddddd;
    }
    p {
        font-size: 0.9rem;
        text-align: center;
    }
}
