.product-section-wrapper {
    width: 100%;
}

.product-section-container {
    margin-bottom: 30px;

    p {
        color: gray;
    }
}

.product-item-container {
    display: flex;
    justify-content: space-evenly;

    .product-item {
        width: 23%;

        img {
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 10px;
            box-shadow: 0px 5px 20px #eeeeee;
        }
        .product-item-description {
            padding: 10px;
            span {
                display: block;
                height: 5px;
            }
        }
    }
}
